<div id="page-wrapper">
    <div id="page" class="page">
        <div id="header-wrapper" class="container-fluid">
            {% include directory ~ '/src/components/header/header.twig' %}
        </div>
        <div id="main" class="container">
            {% include directory ~ '/src/components/main--front/main--front.twig' %}
        </div>
        <div id="footer">
            {% include directory ~ '/src/components/footer/footer.twig' %}
        </div>
    </div>
</div>