{{ attach_library('dhis_two/main') }}
<div class="main_front">
    <div class="row">
        <div class="col-9">{{ page.content }}</div>
        <div class="col-3">{{ page.right_side }}</div>
    </div>
</div>