{{ attach_library('dhis_two/main--front') }}
<div class="main_front">
    <div class="row">
        <div class="col-3">{{ page.left_side }}</div>
        <div class="col-6">{{ page.content }}</div>
        <div class="col-3">{{ page.right_side }}</div>
    </div>
</div>